<div class="main-wrapper">

  <!-- Header -->
  <app-nav></app-nav>
  <!-- /Header -->

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Blank Page</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <!-- Page Content -->
  <section class="section section-search">
    <div class="container-fluid">
      <div class="banner-wrapper">
        <div class="banner-header text-center">
          <h1>Get Best Online Taxi For You</h1>
          <h4>Dramatically scale backward compatible portals after market positioning deliverables. Assertively predominate collaborative rather</h4>
        </div>

        <!-- Search -->

        <!-- /Search -->

      </div>
    </div>
  </section>

  <section class="section home-tile-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 m-auto">
          <div class="section-header text-center">
            <h2>OUR BEST SERVICES</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/services/service1.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                    <h3 class="card-title mb-0">Online Booking</h3>
<!--                    <a href="search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Book Now</a>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/services/service2.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                    <h3 class="card-title mb-0">City Transport</h3>
<!--                    <a href="pharmacy-search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Find Now</a>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-3">
              <div class="card text-center doctor-book-card">
                <img src="assets/img/services/service3.jpg" alt="" class="img-fluid">
                <div class="doctor-book-card-content tile-card-content-1">
                  <div>
                    <h3 class="card-title mb-0">Address Pickup</h3>
<!--                    <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">Coming Soon</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /Page Content -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /Footer -->

</div>
