<app-nav></app-nav>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Previous Trips</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Previous Trips</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <app-side-nav></app-side-nav>
        <!-- /Profile Sidebar -->

      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card card-table">
          <div class="card-body">

            <!-- Invoice Table -->
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                <tr>
                  <th>Booking Ref</th>
                  <th>Driver</th>
                  <th>Vehicle Category</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Pickup City</th>
                  <th>Drop Off City</th>
                  <th>Pickup Street</th>
                  <th>Drop Off Street</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let booking of bookings">
                  <td>2
                    <a href="">#{{booking.id}}</a>
                  </td>
                  <td>
                    <h2 class="table-avatar">
                      {{booking.driver}}
                    </h2>
                  </td>
                  <td>{{booking.vehicle_category_val}}</td>
                  <td>Rs.{{booking.price}}</td>
                  <td>{{booking.status}}</td>
                  <td>{{booking.from_city_val}}</td>
                  <td>{{booking.to_city_val}}</td>
                  <td>{{booking.pick_up_street}}</td>
                  <td>{{booking.drop_off_street}}</td>

<!--                  <td class="text-right">-->
<!--                    <div class="table-action">-->
<!--                      <a href="" class="btn btn-sm bg-info-light">-->
<!--                        <i class="far fa-eye"></i> View-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </td>-->
                </tr>


                </tbody>
              </table>
            </div>
            <!-- /Invoice Table -->

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<br/>

<app-footer></app-footer>
