<!-- Header -->
<app-topbar></app-topbar>
<!-- /Header -->

<!-- Sidebar -->
<app-side-navbar></app-side-navbar>
<!-- /Sidebar -->

<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Manage Cities</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Manage Cities</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <button type="button" (click)="open(addmodal)" class="btn btn-primary float-right mt-2">Add</button>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Default Datatable</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table datatable [dtOptions]="dtOptions" class="datatable table table-stripped " width="100%">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>City</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="cities?.length != 0">
                <tr *ngFor="let city of cities">
                  <td>{{ city.id }}</td>
                  <td>{{ city.city }}</td>
                  <td class="">
                    <div class="actions">
                      <a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                        <i class="fe fe-pencil"></i> Edit
                      </a>
                      <a  data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light ml-1">
                        <i class="fe fe-trash"></i> Delete
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="cities?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<ng-template #addmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New City</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="close(addmodal)" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="saveCity()">
      <div class="row form-row">
        <div class="col-12">
          <div class="form-group">
            <label>City Name</label>
            <input type="text" name="fname" [(ngModel)]="city.city" class="form-control">
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary btn-block">Save City</button>
    </form>
  </div>

</ng-template>
<!-- /ADD Modal -->


