<nav class="navbar navbar-expand-sm ">
    <div class="container navbar-container">
      <div class="navbar-header">
        <a href="https://pickme.lk" class="navbar-brand">
         <img src="/assets/images/gocheetalogo12.png">
        </a>
      </div>
  
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li ><a  class="nav-link"  href="https://pickme.lk/book-your-taxi">Ride</a></li>
          <li ><a  class="nav-link"  href="https://pickme.lk/drive">Drive</a></li>
          <li ><a  class="nav-link"  href="https://pickme.lk/business-traveling">About Us</a></li>
          <li ><a  class="nav-link"  href="https://pickme.lk/business-traveling">Contact Us</a></li>
        </ul>
  
        
      </div>
    </div>
  
    <button type="button" class="navbar-toggle" id="toggle-dropdown">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  
  </nav>