<!-- Header -->
<app-topbar></app-topbar>
<!-- /Header -->

<!-- Sidebar -->
<app-side-navbar></app-side-navbar>
<!-- /Sidebar -->

<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Manage Distance Charges</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Manage Distance Charges</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <button type="button" (click)="open(addmodal)" class="btn btn-primary float-right mt-2">Add</button>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Distance Charge Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table datatable [dtOptions]="dtOptions" class="datatable table table-stripped " width="100%">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Km From</th>
                  <th>Km To</th>
                  <th>Price</th>
                  <th>Last Update</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngIf="distanceCharges?.length != 0">
                <tr *ngFor="let distanceCharge of distanceCharges">
                  <td>{{ distanceCharge.id }}</td>
                  <td>{{ distanceCharge.km_from }} Km</td>
                  <td>{{ distanceCharge.km_to }} Km</td>
                  <td>Rs.{{ distanceCharge.price }}.00</td>
                  <td>{{ distanceCharge.last_update }}</td>
                  <td class="">
                    <div class="actions">
                      <a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                        <i class="fe fe-pencil"></i> Edit
                      </a>
                      <a  data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light ml-1">
                        <i class="fe fe-trash"></i> Delete
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="distanceCharges?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<ng-template #addmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Distance Charge</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="close(addmodal)" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="saveDistanceCharge()">
      <div class="row form-row">

        <div class="col-12">
          <div class="form-group">
            <label>Vehicle Category</label>
            <select class="form-control" name="user_role_id" [(ngModel)]="distanceCharge.vehicle_category_id">
              <option value="0" selected disabled>-- Select --</option>
              <option *ngFor="let vehicleCategory of vehicleCategories" value="{{vehicleCategory.id}}">{{vehicleCategory.category}}</option>
            </select>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Km From</label>
            <input type="number" name="km_from" [(ngModel)]="distanceCharge.km_from" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Km To</label>
            <input type="number" name="km_to" [(ngModel)]="distanceCharge.km_to" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Price Per Km</label>
            <input type="number" name="price" [(ngModel)]="distanceCharge.price" class="form-control">
          </div>
        </div>


      </div>
      <button type="submit" class="btn btn-primary btn-block">Save Distance Charge</button>
    </form>
  </div>

</ng-template>
<!-- /ADD Modal -->


