<app-nav></app-nav>

<div class="content mt-1">
  <div class="container-fluid" style="padding-left: 15%; padding-right: 15%">
    <div class="row">
      <div class="col-md-12 ">

        <!-- Account Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img src="assets/img/auth/11291.jpg" class="img-fluid" alt="Login Banner">
              <!--              <lottie-playerottie-player-->
              <!--                src="assets/img/lotties/man-waiting-car.json"-->
              <!--                style="width: 500px;"-->
              <!--                autoplay-->
              <!--                loop-->
              <!--              ></lottie-playerottie-player>-->
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h3>Register</h3>
              </div>

              <!-- Register Form -->
              <form (ngSubmit)="saveCustomer()">
                <div class="row form-row">
                  <!--                <div class="form-group form-focus">-->
                  <!--                  <input type="text" class="form-control floating">-->
                  <!--                  <label class="focus-label">Mobile Number</label>-->
                  <!--                </div>-->

                  <!--                <div class="text-right">-->
                  <!--                  <a class="" style="color: #eeaa1f" href="login.html">Send Code</a>-->
                  <!--                </div>-->

                  <!--                <div class="form-group form-focus">-->
                  <!--                  <input type="text" class="form-control floating">-->
                  <!--                  <label class="focus-label">OTP Code</label>-->
                  <!--                </div>-->

                  <div class="col-12 col-sm-6 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">First Name</label>
                      <input placeholder="David" type="text" name="fname" required [(ngModel)]="customer.fname" #fname="ngModel" class="form-control">


                    </div>
                  </div>
<!--                  <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"-->
<!--                       class="alert">-->

<!--                    <div *ngIf="fname.errors?.['required']">-->
<!--                      Name is required.-->
<!--                    </div>-->

<!--                  </div>-->

                  <div class="col-12 col-sm-6 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">Last Name</label>
                      <input placeholder="Perera" type="text" name="fname" [(ngModel)]="customer.lname" class="form-control floating">
                    </div>
                  </div>

                  <div class="col-12 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">Mobile</label>
                      <input placeholder="071 XXXXXXX" type="number" name="mobile" [(ngModel)]="customer.mobile" class="form-control floating">
                    </div>
                  </div>

                  <div class="col-12 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">Email</label>
                      <input placeholder="abc@gmail.com" type="email" name="email" [(ngModel)]="customer.email" [email]="true" class="form-control floating">
                    </div>
                  </div>

                  <div class="col-12 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">Password</label>
                      <input placeholder="*******" type="password" name="password" [(ngModel)]="customer.password" class="form-control floating">
                    </div>
                  </div>

                  <div class="col-12 mb-4">
                    <div class="form-group form-focus">
                      <label class="label">Confirm Password</label>
                      <input placeholder="*******" type="password" name="confirm_password" [(ngModel)]="customer.confirm_password" class="form-control floating">
                    </div>
                  </div>

                </div>


                <div class="text-right">
                  <a class="forgot-link" [routerLink]="['/login']" routerLinkActive="active">Already have an account?</a>
                </div>
                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>
                <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div>
                <div class="row form-row social-login">
                  <div class="col-6">
                    <a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
                  </div>
                  <div class="col-6">
                    <a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                  </div>
                </div>
              </form>
              <!-- /Register Form -->

            </div>
          </div>
        </div>
        <!-- /Account Content -->

      </div>
    </div>

  </div>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<app-footer></app-footer>
