<app-nav></app-nav>


<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Booking</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Booking</h2>
      </div>
    </div>
  </div>
</div>

<div class="content success-page-cont">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-lg-6">

        <!-- Success Card -->
        <div class="card success-card">
          <div class="card-body">
            <div class="success-cont">
              <i class="fas fa-check"></i>
              <h3>Vehicle booked Successfully!</h3>
              <p>Booking Ref : <strong>#{{bookingId}}</strong></p>
              <p>Vehicle Category : <strong>{{vehicleCategory}}</strong></p>
              <p>Pickup City : <strong>{{pickupCity}}</strong></p>
              <p>Pickup Street : <strong>{{pickupStreet}}</strong></p>
              <p>Drop Off City : <strong>{{dropOffCity}}</strong></p>
              <p>Drop Off Street : <strong>{{dropOffStreet}}</strong></p>
              <p>Vehicle No : <strong>{{vehicleNo}}</strong></p>
              <p>Driver Name : <strong>{{driver}}</strong></p>
              <p>Date : <strong>{{date}}</strong></p>
              <p>Time : <strong>{{time}}</strong></p>
              <p>Approximately End Time : <strong>{{endTime}}</strong></p>

              <a href="" class="btn btn-primary view-inv-btn">View Bookings</a>
            </div>
          </div>
        </div>
        <!-- /Success Card -->

      </div>
    </div>

  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<app-footer></app-footer>
