<!-- Header -->
<app-nav></app-nav>
<!-- /Header -->


<div class="breadcumb-wrapper" data-bg-src="" data-overlay="title" data-opacity="4" style="background-image: url('assets/img/breadcumb/back1.jpg')">
  <div class="container z-index-common">
    <h1 class="breadcumb-title">Sign Up To Drive With Us</h1>
    <ul class="breadcumb-menu">
      <li><a href="index.html">Home</a> / </li>
      <li>Request To Drive</li>
    </ul>
  </div>
</div>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- Account Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img src="assets/img/auth/3682361.jpg" class="img-fluid" alt="Login Banner">

            </div>
            <div class="col-md-12 col-lg-6 ">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Personal Details</h4>
                </div>
                <div class="card-body">
                  <form action="#">

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Name</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Email</label>
                      <div class="col-md-9">
                        <input type="email" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Contact No</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Vehicle Type</label>
                      <div class="col-md-9">
                        <select class="form-control">
                          <option>-- Select --</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Working City</label>
                      <div class="col-md-9">
                        <select class="form-control">
                          <option>-- Select --</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-form-label col-md-3">Working Type</label>
                      <div class="col-md-9">
                        <select class="form-control">
                          <option>-- Select --</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                    </div>

                    <div class="submit-section mt-4">
                      <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Account Content -->

      </div>
    </div>

  </div>

</div>


<app-footer></app-footer>


